{% extends 'base.html.twig' %}
{% block title %}Http Logger{% endblock %}
{% block body %}
	<h2>{{ 'Logs'|trans }}. {{ 'Total rows'|trans }}: {{ totalRows }}</h2>
	<style>
		.overflow {
			overflow: auto; max-height: 100px; max-width: 200px;
		}
	</style>
	<table style="border: 1px solid black;" border="1" width="100%">
		<thead>
		<tr>
			<th width="10%">URL</th>
			<th width="15%">{{ 'Request headers'|trans }}</th>
			<th width="10%">{{ 'Request body'|trans }}</th>
			<th width="15%">{{ 'Response headers'|trans }}</th>
			<th width="10%">{{ 'Response body'|trans }}</th>
			<th width="5%">{{ 'Response code'|trans }}</th>
			<th width="10%">{{ form(log_form) }}
			</th>
			<th width="15%">{{ 'Processed at'|trans }}</th>
		</tr>
		</thead>
		<tbody>
		{% for log in logs %}
			<tr>
				<td style="overflow: auto;">{{ log.url }}</td>
				<td><div class="overflow">{{ log.requestHeaders|json_encode(constant('JSON_PRETTY_PRINT'))|nl2br }}</div></td>
				<td><div class="overflow">{{ log.requestBody }}</div></td>
				<td><div class="overflow">{{ log.responseHeaders|json_encode(constant('JSON_PRETTY_PRINT'))|nl2br }}</div></td>
				<td><div class="overflow">{{ log.responseBody }}></div></td>
				<td>{{ log.responseCode }}</td>
				<td>{{ log.ip|long2ip }}</td>
				<td>{{ log.processedAt|date("Y-m-d H:i") }}</td>
			</tr>
		{% endfor%}
		</tbody>
	</table>
	<br>
	{% if previous >= 0 %}
		<a href="{{ path('adminHttpLog', { offset: previous, filterByIP: filterByIP }) }}">{{ 'Previous'|trans }}</a>
	{% endif %}
	{% if next < totalRows %}
		<a href="{{ path('adminHttpLog', { offset: next, filterByIP: filterByIP }) }}">{{ 'Next'|trans }}</a>
	{% endif %}

	<br>
	<br>
	<a href="{{ path('index') }}">{{ 'Go home'|trans }}</a>
{% endblock %}